<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Foundation Communities</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/modern-business.css" rel="stylesheet">
  <link href="../static/agency.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="https://areye2020.pythonanywhere.com/">Homelessness in Austin</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#services">The Problem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#about">Our Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com/resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com/help">Ways to Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#team">Our Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <style>
      #page-top{
        background-color: black;
      }
  </style>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4">Foundation Communities
      <small>Foundation Communities is keeping families off the streets by being the largest nonprofit provider of affordable housing</small>
    </h1>

    <style>
        .mt-4{
            color: white;
        }
    </style>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="../static/fc1.jpg" alt="">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d172153.30649170617!2d-97.78048003848524!3d30.22486186047934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b4c1f4da9c59%3A0x2351b2fadef4ade1!2sFoundation%20Communities!5e0!3m2!1sen!2sus!4v1582825192976!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
      <style>
         .map{
          padding-top: 25px;
          padding-right: 25px;
          padding-bottom: 25px;
          padding-left: 25px;
        }
      </style>
      <div class="col-md-4">
        <h3 class="my-3">Foundation Communities</h3>
        <p class="my">Foundation Communities creates housing where families succeed. They provide people with an affordable, attractive place to call home, as well as opportunities right at their doorstep to transform their lives. The main tears of their plan includes Housing, Education, Finatial Stability, and Health Services.</p>
        <h3 class="my-3">Volunteering Can Include...</h3>
        <ul>
          <li class="mine">Welcome new residents home</li>
          <li class="mine">Help build community</li>
          <li class="mine">Tax assitance</li>
          <li class="mine">Make a difference in the life of a child or an adult returning to the classroom.</li>
          <li class="mine">Financial Coaching</li>
        </ul>
      </div>
      <style>
          .my-3{
              color: white;
          }
          .mine{
              color: white;
          }
          .my{
              color: white;
          }
      </style>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="../static/jquery.min.js"></script>
  <script src="../static/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="../static/jqBootstrapValidation.js"></script>
  <script src="../static/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/agency.min.js"></script>

</body>

</html>
