<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ending Community Homelessness Coalition</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/modern-business.css" rel="stylesheet">
  <link href="../static/agency.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="https://areye2020.pythonanywhere.com/">Homelessness in Austin</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#services">The Problem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#about">Our Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com/resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com/help">Ways to Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#team">Our Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <style>
      #page-top{
        background-color: black;
      }
  </style>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4">Ending Community Homelessness Coalition
      <small>ECHO works with local advocates and agencies to secure reliable housing for people experiencing homelessness.</small>
    </h1>

    <style>
        .mt-4{
            color: white;
        }
    </style>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="../static/echo.png" alt="">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.772184869606!2d-97.71458278563048!3d30.32899721203055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644ca3c79bfffff%3A0xfae715a791ae2e74!2sEcho!5e0!3m2!1sen!2sus!4v1582824927973!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
      <style>
         .map{
          padding-top: 25px;
          padding-right: 25px;
          padding-bottom: 25px;
          padding-left: 25px;
        }
      </style>
      <div class="col-md-4">
        <h3 class="my-3">Ending Community Homelessness Coalition</h3>
        <p class="my">Ending Community Homelessness Coalition (ECHO) is dedicated to planning, prioritizing, and developing strategies to end homelessness in Austin, TX. ... The primary cause of homelessness in the U.S. is the lack of affordable housing. For most people, an array of various factors causes homelessness.</p>
        <h3 class="my-3">Volunteering Can Include...</h3>
        <ul>
          <li class="mine">Annual census of the homeless population</li>
          <li class="mine">Collect donations</li>
          <li class="mine">Organizing food donations</li>
          <li class="mine">Running a donation campaign</li>
        </ul>
      </div>
      <style>
          .my-3{
              color: white;
          }
          .mine{
              color: white;
          }
          .my{
              color: white;
          }
      </style>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="../static/jquery.min.js"></script>
  <script src="../static/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="../static/jqBootstrapValidation.js"></script>
  <script src="../static/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/agency.min.js"></script>
</body>

</html>
