<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Casa Marianella</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/modern-business.css" rel="stylesheet">
  <link href="../static/agency.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="https://areye2020.pythonanywhere.com/">Homelessness in Austin</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#services">The Problem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#about">Our Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com/resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com/help">Ways to Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#team">Our Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <style>
      #page-top{
        background-color: black;
      }
  </style>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4">Casa Marianella
      <small>A shelter service specifically designed to help displaced immigrants.</small>
    </h1>

    <style>
        .mt-4{
            color: white;
        }
    </style>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="../static/CASA (1).jpg" alt="">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3446.20043605974!2d-97.70320638487976!3d30.25986978180435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b5d43459d1b1%3A0x6768279c544c546d!2sCasa%20Marianella!5e0!3m2!1sen!2sus!4v1582824416713!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
      <style>
         .map{
          padding-top: 25px;
          padding-right: 25px;
          padding-bottom: 25px;
          padding-left: 25px;
        }
      </style>
      <div class="col-md-4">
        <h3 class="my-3">Casa Marianella</h3>
        <p class="my">n addition to shelter, Casa offers access to legal and medical resources, food, clothing, English classes, and other resources. Casa Marianella started in 1986 as one home for men, women and children, but as Casa has grown, a nearby branch site was created in 2003 for women with children (many of whom are escaping domestic or cultural violence) and named Posada Esperanza. Casa Marianella currently consists of three neighboring houses for men and women without children, while Casa’s Posada Esperanza branch has expanded to four neighboring houses. Our agency as a whole shelters an average of 325 individuals annually as well as providing assistance and services to the community.</p>
        <h3 class="my-3">Volunteering Can Include...</h3>
        <ul>
          <li class="mine">Sorting mail</li>
          <li class="mine">Driving</li>
          <li class="mine">Sorting donations</li>
          <li class="mine">Housecare</li>
          <li class="mine">Hanging with the kids!</li>
          <li class="mine">Tutoring</li>
        </ul>
      </div>
      <style>
          .my-3{
              color: white;
          }
          .mine{
              color: white;
          }
          .my{
              color: white;
          }
      </style>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="../static/jquery.min.js"></script>
  <script src="../static/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="../static/jqBootstrapValidation.js"></script>
  <script src="../static/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/agency.min.js"></script>

</body>

</html>
