<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Austin Resource Center for the Homeless</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/modern-business.css" rel="stylesheet">
  <link href="../static/agency.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="https://areye2020.pythonanywhere.com/">Homelessness in Austin</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#services">The Problem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#about">Our Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com/resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com/help">Ways to Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#team">Our Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <style>
      #page-top{
        background-color: black;
      }
  </style>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4">Austin Resource Center for the Homeless
      <small>This facility is owned by the City of Austin and acts as a Shelter for Homeless</small>
    </h1>

    <style>
        .mt-4{
            color: white;
        }
    </style>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="https://www.kut.org/sites/kut/files/styles/x_large/public/201906/32314022996_a80b64b0a7_b.jpg" alt="">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.919885885201!2d-97.73970018487962!3d30.267863781801477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b5a68b68a649%3A0xe3f8c2ccd8a40616!2s500%20E%207th%20St%2C%20Austin%2C%20TX%2078701!5e0!3m2!1sen!2sus!4v1581556872420!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>

      <style>
         .map{
          padding-top: 25px;
          padding-right: 25px;
          padding-bottom: 25px;
          padding-left: 25px;
        }
      </style>

      <div class="col-md-4">
        <h3 class="my-3">What is the ARCH?</h3>
        <p class="my">The ARCH is a City-owned facility providing shelter and resources in downtown Austin, managed by Front Steps.  It offers emergency shelter, basic services and connections to housing for 130 men.  Several co-located agencies offer case management, job placement services, legal assistance, veteran services, mental health services, and healthcare through the CommUnity Care Clinic.  Austin Public Health is working closely with the National Alliance to End Homelessness and Front Steps on transitioning the ARCH to a new service model during the summer of 2019</p>
        <h3 class="my-3">Services Include:</h3>
        <ul>
          <li class="mine">Case management</li>
          <li class="mine">Job placement</li>
          <li class="mine">Legal assistance</li>
          <li class="mine">Veteran services</li>
          <li class="mine">Mental health services</li>
          <li class="mine">AHealthcare through the CommUnity Care Clinic</li>
        </ul>
      </div>
      <style>
          .my-3{
              color: white;
          }
          .mine{
              color: white;
          }
          .my{
              color: white;
          }
      </style>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="../static/jquery.min.js"></script>
  <script src="../static/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="../static/jqBootstrapValidation.js"></script>
  <script src="../static/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/agency.min.js"></script>

</body>

</html>
