<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Austin Sheltar for Women and Childreen</title>

  <!-- Bootstrap core CSS -->
  <link href="https://www.pythonanywhere.com/user/areye2020/files/home/areye2020/startbootstrap-agency/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="https://www.pythonanywhere.com/user/areye2020/files/home/areye2020/startbootstrap-agency/css/modern-business.css" rel="stylesheet">
  <link href="https://www.pythonanywhere.com/user/areye2020/files/home/areye2020/startbootstrap-agency/css/agency.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="https://areye2020.pythonanywhere.com/">Homelessness in Austin</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#services">The Problem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#about">Our Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com/resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com/help">Ways to Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#team">Our Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://areye2020.pythonanywhere.com#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <style>
      #page-top{
        background-color: black;
      }
  </style>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4">Austin Center for Women and Children
      <small>This facility is owned by Travis county and operated by the Salvation Army</small>
    </h1>

    <style>
        .mt-4{
            color: white;
        }
    </style>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="https://i.ytimg.com/vi/Pg2--P2XV5c/maxresdefault.jpg" alt="">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.3492223223034!2d-97.67316048487919!3d30.28411838179573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b63ecb655f2f%3A0xf9cd175ded496c51!2s4613%20Tannehill%20Ln%2C%20Austin%2C%20TX%2078721!5e0!3m2!1sen!2sus!4v1581566597391!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
      <style>
         .map{
          padding-top: 25px;
          padding-right: 25px;
          padding-bottom: 25px;
          padding-left: 25px;
        }
      </style>

      <div class="col-md-4">
        <h3 class="my-3">What is the Austin Center for Women and Children</h3>
        <p class="my">The Austin Shelter for Women and Children is a County-owned facility operated by the Salvation Army through contracted funding from the City.  The emergency shelter serves single adult women and women and their dependents. Services include case management, job training, and housing location.</p>
        <h3 class="my-3">Services Include:</h3>
        <ul>
          <li class="mine">Case Management</li>
          <li class="mine">Job Training</li>
          <li class="mine">Housing location</li>
        </ul>
      </div>
      <style>
          .my-3{
              color: white;
          }
          .mine{
              color: white;
          }
          .my{
              color: white;
          }
      </style>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="https://www.pythonanywhere.com/user/areye2020/files/home/areye2020/startbootstrap-agency/vendor/jquery/jquery.min.js"></script>
  <script src="https://www.pythonanywhere.com/user/areye2020/files/home/areye2020/startbootstrap-agency/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://www.pythonanywhere.com/user/areye2020/files/home/areye2020/startbootstrap-agency/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="https://www.pythonanywhere.com/user/areye2020/files/home/areye2020/startbootstrap-agency/js/jqBootstrapValidation.js"></script>
  <script src="https://www.pythonanywhere.com/user/areye2020/files/home/areye2020/startbootstrap-agency/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="https://www.pythonanywhere.com/user/areye2020/files/home/areye2020/startbootstrap-agency/js/agency.min.js"></script>

</body>

</html>
